#auth-body{
    background:url("../img/bg-login.jpg");
}
.layui-layout-auth{
    background: #e2e2e2;
}
.layui-layout-auth .layui-footer{
    left: 0;
    text-align: center;
}
.layui-form-auth{
    margin: 80px auto auto 150px;
}
