
.ca {
  background-position: -42px 0px;
}
.de {
  background-position: -84px -84px;
}
.en {
  background-position: 0px -42px;
}
.es {
  background-position: -42px -42px;
}
.fi {
  background-position: -84px 0px;
}
.gr {
  background-position: -84px -42px;
}
.hu {
  background-position: 0px -84px;
}
.it {
  background-position: -42px -84px;
}
.no {
  background-position: 0px 0px;
}
.pl {
  background-position: -126px 0px;
}
.pt {
  background-position: -126px -42px;
}
.rs {
  background-position: -126px -84px;
}
.se {
  background-position: 0px -126px;
}
.tl {
  background-position: -42px -126px;
}
.tr {
  background-position: -84px -126px;
}
.tw {
  background-position: -126px -126px;
}
.ua {
  background-position: -168px 0px;
}
.ir {
  background-position: -168px -42px;
}
