@import'varibles/sprite-language';
@import'mixins/include-media';
// size
$t7: 8px;
$t8: 8px;
$t9: 9px;
$t12: 12px;
$t10: 10px;
$t11: 11px;
$t13: 13px;
$t14: 14px;
$t15: 15px;
$t16: 16px;
$t17: 17px;
$t18: 18px;
$t19:19px;
$t20: 20px;
$t22: 22px;
$t24: 24px;
$t30: 30px;
$t32:32px;
$t35:35px;
$t100:100px;
// color
$c1:#fff;       
$c2:#ff003c;   
$c3:#ff9f00;
// 蓝色
$c4:#00a9e9;
// 绿色
$c5:#03c85a;
$tc1:#33373a;
$tc2:#9195a0;

// font
@font-face {
  font-family: 'roboto black';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto middle';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
$rob-bl:"roboto black";
$rob-b:"roboto bold";
$rob-r:"roboto regular";
$rob-l:"roboto light";
$rob-m:"roboto middle";
// button
// 橙黄渐变按钮
.button-bt1{
    text-align: center;
    background: linear-gradient(to top, #fe5f34, #ff9a17);
    color: $c1;
    height: 56px; 
    line-height: 56px;
     cursor: pointer;
    font:{
      size:$t20;
      family:$rob-b;
    }
    &:hover{
      background: linear-gradient(to bottom, #ffab14, #fe7e29);
    }
    &:active{
      background: linear-gradient(to bottom, #d6851f, #d55934);
    }


    &.disable{
      cursor: default;
  }
}

// 白底按钮
.button-bt2{
    text-align: center;
    background: rgba(255,255,255,0.7);
    color: $tc1;
    height: 48px; 
    line-height: 48px;
     cursor: pointer;
    font:{
      size:$t18;
      family:$rob-r;
    }
    &:active{
      transform:scale(1.01);
    }
    &.disable{
      cursor: default;
  }
}


// 绿底按钮
.button-bt3{
    text-align: center;
    background: $c5;
    color: $c1;
    height:40px; 
    line-height:40px;
     cursor: pointer;
    font:{
      size:$t16;
      family:$rob-m;
    }
     &:hover{
    background: #009c44;
  }
  &:active{
    background:#e0e6ee;
  }
  
  &.disable{
    background:#e6e9ee;cursor: default;
  }


}


@mixin aHover{
  content: '';
  display: block;
  position: absolute;
  left:0;
  bottom:0;
  width:0;
  height:1px;
  background: $c3;
  @include animateTime;
}
@mixin aHoverOn{
    color: $c3;
  &::after{
    width:100%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@mixin animateTime{
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  -ms-transition:all 0.2s linear;
  -o-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
@mixin animateTime{
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  -ms-transition:all 0.2s linear;
  -o-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.l-box-center{display:-webkit-box; -webkit-box-align: center; -webkit-box-pack: center;display:flex;justify-content: center;align-items: center;  }
.l-box-vertical-center{display: -webkit-box;-webkit-box-align: center;display: flex;align-items: center;-webkit-box-orient: horizontal; flex-flow: row;}
.l-box-vertical-center-justify{display: -webkit-box;-webkit-box-orient: horizontal; flex-flow: row; -webkit-box-align: center;-webkit-box-pack: justify;display: flex;align-items: center;justify-content: space-between;}
.l-box-vertical-center-begin{display: -webkit-box;-webkit-box-orient: horizontal; flex-flow: row; -webkit-box-align: center;-webkit-box-pack: start;display: flex;align-items: center;justify-content: flex-start;}
.l-box-vertical-center-end{display: -webkit-box;-webkit-box-orient: horizontal; flex-flow: row; -webkit-box-align: center;-webkit-box-pack: end;display: flex;align-items: center;justify-content: flex-end;}
.l-box-horizontal-center{display: -webkit-box;-webkit-box-pack: center;display: flex;justify-content: center;-webkit-box-orient: horizontal; flex-flow: row;}
.l-trans-center{position: absolute;top:50%;left:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.l-flex-column{ display:-webkit-box; -webkit-box-orient: vertical; display:flex; flex-flow: column;height: 100%;
display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
.l-flex-row{ display:-webkit-box; display: -webkit-flex; -webkit-box-orient: horizontal; display:-webkit-flex; display:flex; 
    flex-flow: row; width: 100%;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.l-flex-1{ -webkit-box-flex: 1; flex:1;overflow: hidden}
.l-scroll-y{overflow: auto;-webkit-overflow-scrolling:touch;}
.l-full{ position: absolute; top:0; left:0; right:0; bottom:0 }
.l-relative{ position:relative;}
.l-flex-column{-webkit-box-orient:vertical;flex-flow:column;height:100%}
.l-flex-column,.l-flex-row{display:-webkit-box;display:flex;}
.l-flex-row{-webkit-box-orient:horizontal;flex-flow:row;width:100%}
.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

body,html{
    width: 100%;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
ul, li{
    list-style:none;
}
a{
    text-decoration: none;
    color: $c1;
}
.fl{
    float: left;
    width: 50%;
}
.fr{
    width: 50%;
    float: right;
}
.hide{
    display: none;
}


.satel-wrap{
    width: 100%;
    height: 100%;
    background: $c1;
}
.satel-news-wrap{
    padding-top: 64px;
}
.banner-wrap{
  position: relative;
  width: 100%;
   height: 600px;
  background-image: url(../images/satellite/ban-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.satel-header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    width: 100%;
     background: hsla(0,0%,100%,0.3);
}
.satel-header-cont{
    width: 1200px;
    margin: 0 auto;
    height: 64px;
    line-height: 64px;
   
}


.satel-header:before{
    content: ""; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/satellite/ban-bg.jpg) 0 / cover  fixed;
    -webkit-filter:blur(4px);
    -ms-filter:blur(4px);
    filter:blur(4px);
    background-size: cover;
    background-position: top center;
}
.satel-head-scroll{
     -webkit-box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    &:before{
         display: none;
    }
}
.satel-logo{
    width: 77px;
    height: 36px;
    float: left;
    margin-right: 30px;
    position: relative;
    margin-top: 10px;
    a{
        width: 100%;
        height: 100%;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.satel-head-nav{
    float: left;
}

 .shn-item{
    position: relative;
    color: $c1;
    font: {
        size:$t14;
        family:$rob-r;
    }
    margin-right: 30px;
    float: left;
    }

.more-lotto-wrap{
    width: 100%;
    background: $c1;
    position: fixed;
    top: 72px;
    left: 0;
    padding: 15px 0 30px 0;
    border:1px solid #f0f0f0;
    &:before{
        content:"";
        display: block;
        width: 100%;
        height: 8px;
        opacity: 0;
        position: absolute;
        top: -8px;
        left: 0;
    }
    @media screen and (max-width: 1440px){
           top: 50px;
        }
 }

.more-lotto-cont{
    width: 1200px;
    margin:0 auto;
}

.mlc-wrap{
    
}
.mlc-tit{
    font: {
        size:$t20;
        family:$rob-b;
    }
    color: $tc1;
    line-height: 22px;
    padding: 12px 0;
    border-bottom: 1px solid #f0f0f0;
}

.mlc-cont-list{
    padding-top: 12px;

    .mlc-cont-item{
        margin-bottom: 12px;
        line-height: 20px;
        a{
            position: relative;
            width: 100%;
            color: $tc2;
            line-height: 18px;
            font-size: $t16;
            overflow: hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
             &::after{
                    @include aHover;
               
                  }
              &:hover{
                @include aHoverOn;
                    &::after{width:100%;}
                    &:focus{outline:none;}
               }
        }
    }
    .mlc-cont-item.on a{
        color: #ff9f00;
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: #ff9f00;
            transition: all 0.2s linear;
        }
      }
}
.satel-item-l:hover{
    .lotto-icon ,  .button-bt2{
        @include animateTime;
          -webkit-transform: translateY(-2px);
          -moz-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          -o-transform: translateY(-2px);
          transform: translateY(-2px);
        }
}

.mlc-wrap30{
    width: 30%;
}
.mlc-wrap20{
    width: 20%;
}
.mr10{
    margin-right: 10%;
}
.mlc-main {
	display: flex;
	.mlc-cont-list {
		flex: 1;
	}
}

.satel-head-r{
    float: right;
    position: relative;
    height: 64px;
     @include media ('<tablet-ie'){
        width:54px;
        height: 100%;
     }
}
.satel-head-app{
    position: absolute;
    right: 120px;
    top: 0;
    height: 100%;
    font-size: 14px;
    cursor: pointer;
    padding-right: 30px;
    color: #ff9f00;
    font-family: $rob-r;
    min-width: 200px;
    text-align: right;
    .sha-icon{
        position: absolute;
        top: 50%;
        margin-top: -16px;
        right: 0;
        display: inline-block;
        width: 20px;
        height: 32px;
        background: url(../images/satellite/iPhone.png) no-repeat;
        background-size: cover;
        i{
            width: 10px;
            height: 13px;
            background: url(../images/satellite/arrow.png) no-repeat;
            background-size: cover;
            position: absolute;
            top: 50%;
            margin-top:-7px;
            left: 50%;
            margin-left: -5px;
            
        }
    }
    &:hover{
        // color: #ff9f00;
        .sha-icon{
            background-size: cover;
            i{
                margin-top:-15px;
                animation:moveDown 1.5s infinite;
            }
        }
    }
    @include media ('<tablet-ie'){
        position:initial;
        right: 0;
        width: 100%;
        height: 100%;
        .sha-icon{
            left: 50%;
            margin-left: -10px;
        }
    }
}
@keyframes moveDown {
    0%{
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100%{
      opacity:1;
      -webkit-transform: translateY(12px);
      transform: translateY(12px);
    }
}

 .lan-cont{
    position: relative;
   height: 64px;
   width:50px;
   cursor: pointer; 
   overflow: hidden;
    &.lan-only-one{
      cursor: default;
      & .lan-name:hover{color: $tc1;}
    }
   &:focus{outline:none;}
    &>*{
      float: left;
    }
    .icon-drop{
      margin-top:30px;
      &:hover{
        -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      }
    }
  }
.lan-flag{
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 0;
    width: 28px; 
    height: 28px;
    background-image: url(../images/index/sprite-language.png); 
    background-size: 200px;
    border-radius: 14px; 
    overflow: hidden;
}

.lan-drop{
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 0;
    width:11px;
    height:7px;
    background: url(../images/satellite/drop.png);
}
.lan-layer{
        width: 200px;
        height: 400px;
        left: auto;
        right: 240px;
        &:before{
            content:"";
            display: block;
            width: 100%;
            height: 8px;
            opacity: 0;
            position: absolute;
            top: -8px;
            left: 0;
        }
        .mlc-wrap{
            padding:0 20px;}

                .mlc-cont{
            max-height: 310px;
        }
        .more-lotto-cont{
            width: 100%;
        }
        .mlc-cont-item{
           line-height: 18px;
        }
       @media screen and (max-width: 1680px){
           right: 90px;
        }
        @media screen and (max-width: 1440px){
           right: 20px;
           top: 50px;
        }
}

.shn-item-drop{
    width:11px;
    height:7px;
    display: inline-block;
    background: url(../images/satellite/drop.png);
    margin-left: 5px;
}
.shn-item-more:hover{
    .shn-item-drop{
        @include animateTime;
        transform:rotateZ(180deg) scale(0.95);
    }
}
.lan-cont:hover {
    .lan-drop{
        @include animateTime;
       transform: rotateZ(180deg) scale(0.95);
    }
}
.rotate180{
    @include animateTime;
    transform:rotate(180deg);

}
.satel-head-scroll{
    background: $c1;
    .shn-item, a {
        color: $tc1;
    }    
    .sha-icon{
        @include media ('<tablet-ie'){
            background: url(../images/satellite/down-m.png);
            background-size: cover;
         }
    }

}

.banner-cont{
    width: 100%;
    text-align: center;
   position: absolute;
   top: 55%;
   transform:translateY(-50%);

     .lotto-icon{
            width: 128px;
            height: 114px;
            margin: 0 auto;
            text-align: center;
            img{
                max-width: 100%;
                max-height: 100%;
            }
    }
    .lotto-jackpot{
        font-size: $t100;
        font-family: $rob-bl;
        color: $c1;
    }
    .lotto-next{
        font-family: $rob-r;
        font-size: $t24;
        color: rgba(255,255,255,0.8);
        line-height: 40px;
    }
    .button-bt1{
        margin: 0 auto;
        width: 320px;
        margin-top: 60px;
    }
}

.satel-cont{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    @include media ('<tablet-ie'){
        width: 100%;
    }
}

.satel-lotto-result{

}
.satel-result-tit , .satel-check-tit , .satel-news-tit{
    width: 100%;
    font:{
        size:$t20;
        family:$rob-b;
    }
    color: $tc1;
    text-align: center;
    padding:30px 0;
}
.satel-result-cont{
    width: 100%;
}
.satel-result-list{
    
}
.satel-result-item{
    width: 594px;
    height: 220px;
    padding: 20px 0;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
    @include media ('<tablet-ie'){
        width: 100%;
    }
}
.satel-result-item:nth-child(2n){
    margin-left: 10px;
}
.powerball-bg{
    background-color: #ffc600;
    background: linear-gradient(to left, #ffaa17,#ffce04);
}
.euromillon-bg{
    background-color: #5787f2;
    background: linear-gradient(to left, #6c44d9, #519cfa);  
}
.eurojackpot-bg{
    background-color: #f82a63;
    background: linear-gradient(to left, #fe2a45,#f52a72);  
}
.superenalotto-bg{
    background-color: #de43ff;
    background: linear-gradient(to left, #783dff, #de45ff);  
}
.australiapowerball-bg{
    background-color: #ffc600;
    background: linear-gradient(to left, #ff9600, #ffea00);  
}
.megamillons-bg{
    background-color: #08d022;
    background: linear-gradient(to left, #4de63f, #0daa7f);  
}
.laprimitiva-bg{
    background-color: #ffc600;
    background: linear-gradient(to left, #4de63f, #0daa7f);  
}
.bonoloto-bg{
    background-color: #ffc600;
    background: linear-gradient(to left, #ff9600, #ceca99);  
}
.eigordo-bg{
    background-color: #84abfd;
    background: linear-gradient(to left, #8171fc, #84adfd);  
}
.belgiumlotto-bg{
    background-color: #ff9600;
    background: linear-gradient(to left, #ffd800, #ff5400);  
}
.finlandlotto-bg{
    background-color: #44d4e3;
    background: linear-gradient(to left, #1ca2f6, #52e6dc);  
}
.eurojackpotmax-bg{
    background-color: #f82a63;
    background: linear-gradient(to left, #f52a72, #fe2a45);  
}
.germanylotto-bg{
    background-color: #ff9600;
    background: linear-gradient(to left, #ffd800, #ff5400);  
}
.irishlotto-bg{
    background-color: #5787f2;
    background: linear-gradient(to left, #6c44d9, #519cfa);  
}
.norwaylotto-bg{
    background-color: #ff9600;
    background: linear-gradient(to left, #ffce04, #dc1515);  
}
.minilotto-bg{
    background-color: #de43ff;
    background: linear-gradient(to left, #783dff, #de45ff);  
}

.polandlotto-bg{
    background-color: #cee415;
    background: linear-gradient(to left, #50ce5f, #f3ea00);  
}

.bitcoinjackpot-bg{
    background-color: #be09d2;
    background: linear-gradient(to left, #ff1840, #a904ff);  
}
.swedenlotto-bg{
    background-color: #8bdf00;
    background: linear-gradient(to left, #0090ff, #d1e514);  
}
.uknationallottery-bg{
    background-color: #ffc600;
    background: linear-gradient(to left, #ff9600, #ffea00);  
}

.hoosierlotto-bg{
    background-color: #ff9600;
    background: linear-gradient(to left, #ffd800, #ff5400);  
}
.cash4life-bg{
    background-color: #ffc600;
    background: linear-gradient(to left, #ff9600, #ffea00);  
}
.megamillionsmax-bg{
    background-color: #08d022;
    background: linear-gradient(to left, #4de63f, #0daa7f);  
}

.powerballmax-bg{
    background-color: #ffc600;
    background: linear-gradient(to left, #ff9600, #ffea00);  
}

.illinoislotto-bg{
    background-color: #be09d2;
    background: linear-gradient(to left, #ff1840, #a904ff);  
}

.newyorklotto-bg{
    background-color: #00bda9;
    background: linear-gradient(to left, #ff9600, #ffea00);  
}

.californiasuperlotto-bg{
    background-color: #6a30eb;
    background: linear-gradient(to left, #d904ff, #1552dc);  
}

.austrialotto-bg{
    background-color: #cee415;
    background: linear-gradient(to left, #50ce5f, #f3ea00);  
}

.saturdaylotto-bg{
    background-color: #ff9600;
    background: linear-gradient(to left, #f1155e, #eeea03);  
}

.megasena-bg{
    background-color: #ffc600;
    background: linear-gradient(to left, #ff9600, #ffea00);  
}

.floridalotto-bg{
    background-color: #08d022;
    background: linear-gradient(to left, #049406, #eaff00);  
}

.canadalotto-bg{
    background-color: #ffc600;
    background: linear-gradient(to left, #ff9600, #ffea00);  
}


.satel-item-l{
    position: relative;
    float: left;
    width: 200px;
    height: 100%;
    padding-top: 1%;
    .lotto-icon{
        width: 92px;
        height: 92px;
        margin: 0 auto;
        margin-bottom: 20px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .button-bt2{
        width: 160px;
        margin: 0 auto;
         & a{
            color: $tc1;
         }
    }
    
}

.satel-item-r{
    float: right;
    position: relative;
    color: $c1;
    width: 394px;
    padding-left: 20px;
    height: 100%;
    padding-top: 14px;
    
    .satel-item-time{
        font: {
            size:$t18;
            family:$rob-r;
        }
        line-height: 22px;
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 1px;
        height: 100%;
        background: $c1;
    }
}
.satel-item-ball{

    .satel-ball{
        padding-top: 10px;
        .satel-baller{
            float: left;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 20px;
            background: $c1;
            color: $tc1;
            margin-right: 10px;
            margin-top: 5px;
        }   
        .extra-num{
            color: $c2;
        }
        .bonus-num{
            color: $c4;
        }
    }
}
.satel-item-jackpot{
    position: absolute;
    bottom: 4px;
    left: 20px;
    font: {
        size:$t30;
        family:$rob-bl;
    }
    color: $c1;
}

.satel-lotto-check{

}
.satel-check-cont{
    -webkit-box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    padding: 20px;
    img{
        float: left;
        width: 300px;
        height: 180px;
        
    }
    .left-img{
        float: left;
        margin-right: 20px;
    }
    .right-img{
        float: right;
        margin-left: 20px;
    }
    p{
        font: {
            size:$t16;
            family:$rob-r;
        }
        word-break: break-all;
        line-height: 22px;
        color:$tc1;
        margin-bottom: 20px
    }
    p:last-child{
        margin-bottom: 0;
    }
}
.satel-lotto-news{

}

.satel-news-tit{
    position: relative;
    .snt-more{
        position: absolute;
        right: 0;
        top: 50%;
        transform:translateY(-50%);
        font-weight: normal;
        font:{
            size:$t18;
            family:$rob-r;
        }
        padding-right: 20px;
        cursor: pointer;
        & .snt-more-icon{
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -6px;
            display: inline-block;
            width: 8px;
            height: 13px;
            background: url(../images/satellite/drop-b.png) no-repeat;
            background-size: cover;
        }
        
    }
}
.satel-news-cont{

}
.snc-list{

}
.snc-item{
    float: left;
    width: 290px;
    height: 300px;
    -webkit-box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    margin-right: 12px;
    cursor: pointer;
    overflow: hidden;

    .snc-item-img{
        width: 100%;
        height: 160px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .snc-item-detail{
        padding: 20px 10px 0 10px;
        max-height: 100px;
        overflow: hidden;
        font: {
            size:$t18;
            family:$rob-r;
        }
        line-height: 24px;
        color: $tc1;
    }
}
.snc-item:last-child{
    margin-right: 0;
}

.snc-item:hover{
    .snc-item-img img{
         @include animateTime;
        transform:scale(1.01);
    }
}
.snc-item:hover{
    @include animateTime;
          -webkit-transform: translateY(-2px);
          -moz-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          -o-transform: translateY(-2px);
          transform: translateY(-2px);

}
.satel-footer{
    background-color:#33373a;
    height: 150px;
    padding: 30px 0;
    width: 100%;
    text-align: center;
}
.satel-footer-limit{
    span{
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        color: rgba(255,255,255,0.8);
        border:1px solid rgba(255,255,255,0.7);
        line-height: 48px;
        text-align: center;
    }
}
.datel-footer-copyright{
    font: {
        size:$t16;
        family:$rob-l;
    }
    margin-top: 18px;
    color: $c1;
    line-height: 26px;
}
// 选号页
.pick-num-wrap{
    
    position: absolute;
    top: 60px;
    left: 50%;
    transform:translateX(-50%);
    min-width: 1200px;
    
}
.pick-num-tit{
    font:{
        size:$t20;
        family:$rob-b;
    }
    color: $c1;
    padding: 20px 0;
    width: 100%;
    text-align: center;

}
.pick-num-cont{
    background: $c1;
    padding: 15px;

}
.pnc-l{
    float: left;
    width: 560px;
}
.pnc-r{
    float:left;
    margin-left: 40px;
    width: 530px;
    min-width: 530px;
}

.draw-time-cont{
    .satel-result-item{
        height: 160px;
        float: none;
        margin-bottom: 0;
        width: 100%;
        .satel-item-l{
            width: 180px;
        }
         .satel-item-r{
            padding-top: 5px;
            width: 380px;
        }
    }
   
}

.count-time-cont{
    height: 260px;
    width: 100%;
    border:1px solid #e0e6ee;
    text-align: center;
}
.ctc-tit{
    width:100%;
    
    line-height: 22px;
    margin: 20px 0;
    font: {
            size:$t18;
            family:$rob-r;
        }
        line-height: 24px;
        color: $tc1;
}

.ctc-list{

}
.ctc-list-box{
    width: 386px;
    margin: 0 auto;
    .ctc-item:last-child{
        margin-right: 0;
    }
}

.ctc-item{
    float: left;
    margin-right: 15px;
    .ctc-num-box{
        display: inline-block;
        width: 40px;
        height: 60px;
        background: $tc1;
        line-height: 60px;
         color: $c1;
         font-size: $t32;
         border-radius: 2px;
    }
    .ctc-num-box:last-child{
        margin-left: 5px;
    }
    .ctc-time{
        color:$tc2;
        font:{
            size:$t14;
            family:$rob-r;
        }
        width: 100%;
        text-align: center;
        padding:12px 0;
    }
    .ctc-num-red{
        background: $c2;
    }
}
.ctc-next-jac{
    color: $tc1;
    font:{
        size:$t24;
        family:$rob-bl;
    }
    width: 100%;
    margin-top: 20px;
}
.pnc-r{
    padding-top: 20px;
}
.quick-pick-name{
    color: $tc1;
    font:{
        size:$t20;
        family:$rob-r;
    }
}
.quick-pick-way{
    color: $tc1;
    font:{
        size:$t14;
        family:$rob-r;
    }
    margin-top: 10px;
}
.quick-pick-box{
    
    
}
.qucik-pick-list{

}

.quick-pick-item{
    margin-top: 12px;
    .button-bt3{
        width: 108px;
        float: left;
        margin-right: 20px;
    }

}
.qpc-num-list{
     float: left;
    .qpc-num-item{
        font:{
            size:$t18;
            family:$rob-r;
        }
        float: left;
        margin-right: 10px;
        border: 1px solid $tc2;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        line-height: 40px;
       
    }
    .extra-num{
         border: 1px solid $c2;
         color: $c2;
    }
    .bonus-num{
        border: 1px solid $c4;
         color: $c4;
    }
}
.qpc-num-del {
    float: right;
    margin-right: 0;
    border: 1px solid $tc2;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    background: url(../images/satellite/delete.png) no-repeat;
    background-size: 19px 20px;
    background-position: center;

}
.qpc-but{
    padding-top: 30px;
    .button-bt3{
        float: left;
        width: 108px;
    }
    .button-bt1{
        float: right;
        width: 160px;
        height: 40px;
        line-height: 40px;
        font-family: $rob-m;
        font-size: $t18;
    }
}
.prize-num-l{
    width: 828px;
    float: left;
}
.pb-tb{
  -webkit-box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    border: 1px solid #f0f0f0;

}
.pb-tb-tr{
    color: $tc1;  
    height: 40px;
    line-height: 40px;
    margin: 0 20px;
    border-bottom: 1px solid #f0f0f0;

}
.pb-tb-tit{
    background: $c5;
    color: $c1;
    margin: 0;
    padding: 0 20px;
}
.pb-tr-list{
    

}
.pb-tr-item{
    float: left;
    width: 25%;
    text-align: left;
    font-size: $t14;
}
.pb-tr-item:nth-child(1){
    width: 20%;
}
.pb-tr-item:nth-child(2){
    width: 26%;
}
.pb-tr-item:nth-child(3){
    width: 27%;
}

.hr-list{
     -webkit-box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    border: 1px solid #f0f0f0;

}
.hr-item{
    padding: 30px 0;
    margin:0 20px;
    border-bottom: 1px solid #f0f0f0;
}

.hr-item-l{
    float: left;
    .history-time{
        font: {
            size:$t16;
            family:$rob-bl;
        }
        color: $tc1;
    }
    .qpc-num-list {
        float: none;
    }
  
}

.satel-ball{
    .satel-baller{

    }
}
.hr-item-r{
    float: right;
    font-family: $rob-r;
    text-align: right;
    color: $tc1;
    .button-bt3{
        margin-top: 10px;
        width: 160px;
        float: right;
    }
}
.history-jac, .history-winner{
    font-size: $t14;
    line-height: 22px;
    span{
        font-family: $rob-bl;
    }
}

.prize-num-r{
    width: 360px;
    float: right;
    padding-top: 84px;
}
.help-user-buy{
    margin-bottom: 10px;
    width: 360px;
    height: 200px;
    background-color: #f0f0f0;
    img{
        width: 100%;
        height: 100%;
    }
}
.recom-lotto-box{
    -webkit-box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #f0f0f0;
    .rexom-lotto-head{
        height: 90px;
        text-align: center;
        padding-top: 9px;
    }
    .lotto-icon{
        width: 88px;
        height: 88px;
        margin: 0 auto;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

.recom-next{
    padding: 40px 0 35px 0;
    .button-bt1{
        width: 240px;
        margin: 0 auto;
        height: 48px;
        line-height: 48px;
        margin-top: 30px;
    }
}
.recom-next-jac{
    color:$tc2;
    font-size: $t18;
    width: 100%;
    text-align: center;
    line-height: 22px;
}
.recom-jac-num{
    color: $tc1;
    font-size: $t32;
    font-family: $rob-bl;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.lotto-news-box {
    padding: 20px;
    -webkit-box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    margin-bottom: 15px;
}
.lotto-news-pic{
    float: left;
    width: 290px;
    height: 160px;
    img{
        width: 100%;
        height: 100%;
    }
}
.lotto-news-deta {
    float: right;
    position: relative;
    font-family: $rob-r;
    padding-left: 20px;
    width: 496px;
    height: 160px;

}
.lnd-tit{
    font-size: $t18;
    color: $tc1;
    line-height: 24px;
    margin-bottom: 10px;

}
.lnd-abs{
    color: $tc2;
    font-size: $t14;
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
}
.lnd-signs{
    position: absolute;
    bottom: 0;
    left: 20px;
    ul{
        li{
            float: left;
            background-color: $tc2;
            padding: 0 20px;
            height: 20px;
            line-height: 20px;
            color: $c1;
            font-size: $t12;
            margin-right: 20px;
        }
    }
}



.prize-break-article{
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    .satel-news-tit{
        text-align: left;
        padding-bottom: 10px;
    }
    
    .lnd-signs{
        position: inherit;
        li{
            padding: 0 15px;
            margin-right: 15px;
        }
    }
}            
.snc-item-signs{
    display: none;
}        
.satel-article-cont{
    box-shadow: none;
    padding: 0;
    margin-top: 20px;
    padding-bottom: 40px;
}
.article-recom-lotto{
    height: 180px;
    padding: 20px 0;
     -webkit-box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
    margin-bottom: 40px;
    .count-time-cont{
        float: left;
        width: 72%;
        height: 100%;
        border: none;
    }
    .ctc-tit{
        margin-top: 0;
        font-size: $t14;
    }
    .recom-next-jac{
        font-size: $t14;
    }
    .recom-jac-num{
        font-size: $t24;
    }
    .recom-next{
        float: right;
        width: 28%;
        height: 100%;
        padding: 0;
        border-left:1px solid #f0f0f0;
    }
    .button-bt1{
        margin-top: 20px;
        width: 160px;
    }
}

.draw-time-cont .satel-resulter{
    position: relative;
    height: 120px;
    padding: 10px 0;
    .satel-item-r{
        float: left;
        width: 500px;
        
    }
    .result-but{
        position:absolute;
        right: 20px;
        top: 50%;
        transform:translateY(-50%);
        width: 100px;
        .button-bt2{
            font-size: $t16;
            height: 40px;
            line-height: 40px;
        }
        .button-bt2:last-child{
            margin-top: 10px;
        }
    }
}

// h5
.header-h5{
    display: none;
     background: $c1;
     position: inherit;
     &:before{
                display: none;
            }

    .satel-header-cont{
        position: relative;
        height: 45px;
        line-height: 45px;
       width: 100%;
        -webkit-box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
        box-shadow: 0 0 12px rgba(51, 55, 58, 0.14);
        border-bottom: 1px solid #f0f0f0;
    }
        .satel-header{
            background: $c1;
            
        }
        .satel-logo{
            margin-right: 0;
            margin-left: 10px;
            position: absolute;
            left: 50%;
            margin-left: -26px;
            top: 50%;
            margin-top: -20px;
        }
        .satel-head-app{
            right: 30px; 
        }
         .tab-nav{

            position: absolute;
            top: 0;
            left: 0px;
            width: 55px;
            text-align: center;
            height: 100%;
            line-height: 200%;
            span{
                width: 24px;
               height: 17px;
               display: inline-block;
                background: url(../images/satellite/nav.png) no-repeat;
                background-size: cover;   
            }
            &.tab-nav-cur{
                span{
                    width: 19px;
                    height: 19px;
                     background: url(../images/satellite/cancle.png) no-repeat;
                     background-size: cover;   
                }
            }
        }
}
.satel-mobile-nav{
         display: none;
        position: fixed;
        top: 45px;
        left: 0;
        height: 100%;
        z-index: 100;
        width: 100%;
        background: #fff;
     .satel-head-nav{
            width: 100%;
            background: $c1;            

        }
            .shn-list{  
        overflow-y:scroll;
        height: 100%;
        padding-bottom: 50px;
}
        .shn-item{
            float: none;
            height: 62px;
            line-height: 62px;
            border-bottom: 1px solid #f0f0f0;
            margin: 0 10px;
            a{
                color: $tc1;
            }
            
        }
        .shn-item-flag{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            background-color: $tc2;
            margin-right: 10px;
            span{
                width: 100%;
                height: 100%;  
                display: inline-block;
                background-image: url(../images/index/sprite-language.png); 

            }
        }
        .shn-item-drop{
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -2px;
            transform:rotate(-90deg);

        }

      
}


.nav-more-lotto ,.nav-more-lan{
    position: fixed;
    top: 45px;
    left: 0;
    height: 100%;
    background: $c1;
    z-index: 100;
    .satel-header-cont{
        background: #e0e6ee;
        height: 60px;
        line-height: 60px;
        box-shadow: none;
        padding: 0 10px;
    }
    .back-to-nav{
        font-size: $t15;
        .shn-item-drop{
            position: initial;
            width: 7px;
            height: 14px;
            background: url(../images/satellite/back.png) no-repeat;
            background-size: cover;
            transform:rotate(0deg);
            margin-right: 5px;
        }   
    }
}


@include media ( '>=desktop-ie'){

 }

 @include media ('<desktop-ie', '>=tablet-ie'){
        .satel-header {
            .satel-header-cont{
                width: auto;
                height: 58px;
                line-height: 58px;
                margin: 0 10%;
            }
            .shn-item{
                font-size: 12px;
                margin-right: 15px;
                .shn-item-drop{
                    width: 6px;
                    height: 4px;
                    margin-left: 3px;
                    background-size: cover;
                }
            }
            .lan-cont{
                height: 58px;
                width: 30px;
            }
            .lan-drop{
                    position: absolute;
                    margin-top: -2px;
                    width: 6px;
                    height: 4px;
                    background-size: cover;
            }
            .lan-flag{
                margin-top: -10px;
                width: 20px;
                height: 20px;
                background-size: 193px;
                border-radius: 10px;
            }
            .satel-logo{
                width: 50px;
                height: 30px;
                margin-right: 15px;
                margin-top: 2px;
            }
            .satel-head-r{
                height: 58px;
            }
            .satel-head-app{
                right: 60px;
                font-size: $t12;
                padding-right: 20px;
                width: 100px;
                .sha-icon{
                    width: 13px;
                    height: 21px;
                    margin-top: -10px;
                    i{
                        width: 7px;
                        height: 9px;
                        margin-top: -5px;
                        margin-left: -4px;
                    }
                }
                &:hover{
                    // color: #ff9f00;
                    .sha-icon{
                        background-size: cover;
                        i{
                            margin-top:-15px;
                            animation:moveDown 1.5s infinite;
                        }
                    }
                }
            }
        }
        .banner-wrap{
            height: 300px;
        }
        .banner-cont{
            .lotto-icon{
                width: 64px;
                height: 57px;
            }
            .lotto-jackpot{
                font-size: 50px;
            }
            .lotto-next{
                line-height: 20px;
                font-size: 12px;
            }
            .button-bt1{
                width: 160px;
                margin-top: 30px;
                height: 36px;
                line-height: 36px;
                font-size: 14px;
            }
        } 
        .satel-cont{
            width: auto;
            margin: 0 10%;
            .satel-result-item{
                width: 49.5%;
                height: 170px;
                padding:17px 0;

            }
            .satel-result-item:nth-child(2n){
                margin-left: 1%;
            }
            .satel-result-cont{
                ul{
                    .satel-baller{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 30px;
                        margin-right: 5px;
                        margin-top: 2px;
                        font-size: 12px;
                    }
                }
                .satel-item-ball .satel-ball{
                    margin: 0;
                }
            }


        }

        .satel-result-tit, .satel-check-tit, .satel-news-tit{
            font-size: 14px;
            padding: 15px 0;
        }
        .satel-item-l{
            width: 34%;
            .lotto-icon{
                width: 76px;
                height: 76px;
                margin-bottom: 0;
            }
            .button-bt2{
                width: 70%;
                height: 30px;
                margin: 0 auto;
                line-height: 30px;
                font-size: 12px;
            }
        }
        // .satel-lotto-result{
        //      .satel-item-l{
        //         padding-top: 1%;
        //      }
        // }
        .satel-item-r{
            width: 66%;
            padding-left: 2%;
            padding-top: 2%;
            .satel-item-time{
                font-size: 12px;
                line-height: 12px;
            }
            .satel-item-jackpot{
                    bottom: 2px;
                    left: 2%;
                    font-size: 22px;
            }

        }
        .satel-check-cont p{
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 10px;
        }
        .satel-check-cont img{
            width: 200px;
            height: 100px;
        }
        .satel-check-cont .left-img{
            margin-right: 10px;
        }
        .satel-check-cont .right-img{
            margin-left: 10px;
        }
        .satel-check-cont{
            padding:10px;
            // margin: 0 20px;
        }

        .satel-news-tit .snt-more{
            font-size: 12px;
            padding-right: 10px;
            .snt-more-icon{
                right: 0;
                margin-top: -3px;
                width: 4px;
                height: 7px;
            }
        }
        .satel-news-cont{
            // margin: 0 20px;
        }
        .snc-item{
            width: 24.25%;
            margin-right: 1%;
            height: 260px;
            .snc-item-img{
                height: 148px;
            }
            .snc-item-detail{
                padding: 15px 5px 0 5px;
                max-height: 74px;
                font-size: 16px;
                line-height: 20px;
            }
        }
        .satel-footer{
            height: 80px;
            padding: 18px 0;
        }
        .satel-footer-limit span{
            width: 30px;
            height: 30px;
            border-radius: 15px;
            line-height: 30px;
            font-size: $t12;
        }
        .datel-footer-copyright{
            font-size: 12px;
            margin-top: 8px;
            line-height: 18px;
        }
        .banner-wrap-num{

        }
        .pick-num-tit{
            font-size: 14px;
            padding: 14px 0;
        }
        .pick-num-cont{
            padding: 1%;
            margin: 0 10%;
            height: 420px;
        }
        .pnc-l{
            width: 46%;
            height: 100%;
        }
        .pnc-r{
           width: 51.5%;
            margin-left: 2%;
            padding-top: 15px;
            min-width: auto;
            height: 100%;
        }
        .draw-time-cont{
            height: 160px;
        }
        .pick-num-wrap{
            min-width:auto;
            width: 100%;
        }
        .draw-time-cont .satel-result-item{
            height: 100%;
        }
        .draw-time-cont .satel-result-item .satel-item-l{
            width: 28%;
        }
        .draw-time-cont .satel-result-item .satel-item-r{
             width: 72%;
            padding-left: 2%;
            padding-top: 2%;
        }
        .satel-item-ball .satel-ball .satel-baller{
            width:34px;
            height:34px;
            line-height:34px;
            border-radius:34px;
            margin-right: 5px;
            margin-top: 4px;
            font-size: 16px;
        }
        .count-time-cont{
            height: 58%;
        }
        .ctc-tit{
            margin: 14px 0;
            font-size: 14px;
            line-height: 18px;
        }
        .ctc-list-box{
                width: 80%;
        }
        .ctc-item{
            margin-right: 7px;
            .ctc-num-box{
                width: 35px;
                height: 52px;
                line-height: 52px;
                font-size: 20px;
            }
            .ctc-time{
                font-size: 14px;
                padding: 10px 0;
            }

        }
        .ctc-next-jac{
            font-size: 16px;
            margin-top: 25px;
        }

        .quick-pick-name{
            font-size: 16px;
        }
        .quick-pick-way{
            font-size: 12px;
            margin-top: 8px;
        }
        .quick-pick-item{
            margin-top: 10px;
        }
        .quick-pick-item .button-bt3{
            width: 20%;
            height: 36px;
            line-height: 36px;
            margin-right: 10px;
            font-size: 14px;
        }
        .qpc-num-list .qpc-num-item{
             width: 36px;
            height: 36px;
            line-height: 36px;
            border-radius: 36px;
            margin-right: 5px;
            font-size: 16px;
        }
        .qpc-num-del{
            width: 36px;
            height: 36px;
            line-height: 36px;
            border-radius: 36px;
            margin-right: 5px;
            margin-top: 2px;
            font-size: 12px;
            background-size: 16px 17px;
        }
        .qpc-but{
            padding-top: 20px;
        }
        .qpc-but .button-bt3 , .qpc-but .button-bt1{
            width: 20%;
            font-size: 14px;
            height: 36px;
            line-height: 36px;
        }
        .banner-wrap-num{
            height: 550px;
        }
        .prize-num-l{
            width: 69%;
        }
        .prize-num-r{
            width:30%;
            padding-top: 47px;

        }
        // .prize-wrap{
        //     margin: 0 20px;
        // }
        .help-user-buy{
            width: 100%;
            height: 180px;
        }
        .hr-item{
             padding: 15px 0;
            margin: 0 10px;
        }
         .pb-tb-tr{
            margin: 0 10px;
        }
        .pb-tb-tit{
            padding: 0 10px;
            margin: 0;
        }
        .hr-item-r .button-bt3{
            font-size: 14px;
            height: 38px;
            line-height: 38px;
        }
        .recom-lotto-box{
            height: 294px;
        }
       .recom-lotto-box .rexom-lotto-head{
            height: 80px;
            padding-top: 6px
       }
        .recom-lotto-box .lotto-icon {
            width:70px;
            height:70px;
        }
        .recom-next{
            padding: 36px 0 36px 0;
        }
        .recom-next-jac{
            font-size: 14px;
            line-height: 20px
        }
        .recom-jac-num{
            font-size: 26px;
        }
        .recom-next .button-bt1{
            width: 66%;
            height: 42px;
            line-height: 42px;
            margin-top: 30px;
            font-size: 16px;
        }
        .hr-item-l .history-time{
            font-size: $t14;
        }
        .lotto-news-box{
            padding: 10px;
            margin-bottom: 7px;
        }
        .lotto-news-pic{
            width: 30%;
            height: 120px;
        }
        .lotto-news-deta{
            width: 70%;
            padding-left: 2%;
            height: 120px;
        }
        .lnd-tit{
            font-size: $t14;
            line-height: 18px;
            margin-bottom: 5px;
        }
        .lnd-abs{
            font-size: 12px;
            line-height: 16px;
            max-height: 48px;
        }
        .lnd-signs{
            padding-left: 0;
        }
        .article-recom-lotto{
            height: 140px;
            padding: 10px 0;
            margin-bottom: 20px;
        }
        .article-recom-lotto .recom-jac-num{
            font-size: 16px;
        }
        .article-recom-lotto .recom-next-jac{
            font-size: $t12;
            line-height: 16px;
        }
        .satel-news-wrap{
            padding-top: 56px;
        }
        .draw-time-cont  .satel-resulter{
            width: 100%;
            .satel-item-l {
                width: 22%;
                padding-top: 5%;
                .lotto-icon{
                    width: 60px;
                    height: 60px;
                    
                }
            }
                .result-but .button-bt2{
                    font-size: $t12;
                     height: 30px;
                    line-height: 30px;
            }
            .button-bt2:last-child {
                 margin-top: 5px;
                }
        }
        .pb-tr-item{
            font-size: $t12;
        }

 }




  @include media ('<tablet-ie'){
    .satel-header{
        display: none;
    }
    .header-h5{
        display: flex;
        position: fixed;
        z-index: 99;
        height: 45px;
    }
    // .satel-mobile-nav{
    //     display: block;
    // }
    .satel-wrap{
        margin-top: 45px;
    }
        .banner-wrap{
            height: 200px;
        }
        .banner-cont{
            top: 50%;
            .lotto-icon{
                width: 60px;
                height: 55px;
            }
            .lotto-jackpot{
                font-size: $t35;
            }
            .lotto-next{
                font-size: $t12;
                line-height: 15px;
            }
            .button-bt1{
                width: 140px;
                height: 38px;
                line-height: 38px;
                font-size: $t12;
                margin-top: 15px;
            }
        }
        .satel-result-tit, .satel-check-tit, .satel-news-tit{
            font-size: $t15;
            text-align: left;
            padding: 15px 0;
            padding-left: 10px;
        }
        .satel-result-cont{
            width: auto;
            height: auto;
            min-height: 110px;
            margin: 0 10px;
        }
        .satel-result-item{
            position: relative;
            height: auto;            
            min-height: 110px;
            padding: 15px 0;
  
        }
        .satel-result-item:nth-child(2n){
            margin-left: 0;
        }
        .satel-item-l{
            width: 24%;
            min-height: 80px;
            padding-top: 0;
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            left: 0;
            .lotto-icon{
                width: 55px;
                height: 55px;
                position:absolute;
                top: 50%;
                transform:translateY(-50%);
                left: 50%;
                margin-left: -27px;
                margin-bottom: 0;
            }
            .button-bt2{
                display: none;
            }
        }
        .satel-item-r{
            width: 76%;
            padding-left: 4%;
            padding-top: 5px;
            .satel-item-time{
                font-size: $t10;
                line-height: 11px;
            }
            .satel-item-ball .satel-ball{
                padding-top: 5px;
            }
           .satel-item-ball .satel-ball .satel-baller{
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: $t15;
            }
            .satel-item-jackpot{
                font-size: $t15;
                position: initial;
                margin-top: 5px;
            }
        }


        .satel-check-cont{
            padding: 15px;
            margin: 0 10px;
            max-height: 170px;
            overflow-y:scroll;
            background: $c1;
            .left-img , .right-img{
                display: none;
            }
            p{
                font-size: $t12;
                line-height: 17px;
                margin-bottom: 10px;
            }
        }

        .satel-lotto-news{
            margin: 0 10px;  
            .snc-list{
                box-shadow: 0 0 12px rgba(51,55,58,0.14);
            }
            .snc-item{
                float: none;
                position: relative;
                background: $c1;
                width: 100%;
                height: 76px;
                padding: 10px;
                box-shadow: none;
                border-bottom: 1px solid #f8f8f8;
                .snc-item-img{
                    float: left;
                    width: 109px;
                    height: 60px;
                }
                .snc-item-detail{
                    float: left;
                    width: 220px;
                    font-size: $t12;
                    line-height: 17px;
                    padding: 0;
                    padding-left: 10px;
                    @media screen and (max-width: 360px){
                        width: 206px;
                    }
                    p{
                        max-height: 35px;
                        overflow: hidden;
                    }
                }
            }
        }
        .satel-news-tit {
            .snt-more{
                font-size:$t12;
                padding-right: 10px; 
                .snt-more-icon{
                    width: 4px;
                    height: 6px;
                    margin-top: -3px;
                }
            }
        }
        .snc-item-signs{
            display: block;
            position: static;
            ul{
                li{
                    height: 15px;
                    font-size: $t12;
                    line-height: 15px;
                    padding: 0 10px;
                    margin-top: 10px;
                }
            }
        }
        .satel-footer{
            height: 70px;
            background-color:$c1;
            padding:10px 0;
            .datel-footer-copyright{
                color: $tc1;
                font-size: $t9;
                margin-top: 9px;
                line-height: 13px;
            }
            .satel-footer-limit{

                span{
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    color: $tc2;
                    font-size: $t10;
                    border-radius: 12px;
                    background-color: rgba(145,149,160,0.3);
                    border:1px solid  rgba(145,149,160,0.3);
                }
            }
        }
        .satel-cont{
            padding-bottom: 20px;
            background: #f7f7f7;
        }
        .banner-wrap-num{
            // background: none;
        }
        .pnc-l, .pnc-r,.prize-num-l , .prize-num-r{
            float: none;
            width: 100%;
        }
        .pick-num-wrap{
            width: 100%;
            min-width: 100%;
            position: static;
            transform:translateX(0);
        }
        .draw-time-cont .satel-result-item{
            height: 80px;
            padding: 12px 0;
            .satel-item-l{
                width: 90px;
            }
            .satel-item-r{
                width: 265px;
            }
        }
        .pick-num-cont{
            padding: 0 10px;
            background: #f8f8f8;
        }
        // .prize-num-l {
        //     .satel-news-tit{
        //         font-size: $t12;
        //     }

        // }
        .ctc-item{
            margin-right: 10px;
            .ctc-time{
                font-size: $t8;
                padding: 5px 0;

            }
        }
        .ctc-item .ctc-num-box{
            width: 20px;
            height: 30px;
            line-height: 30px;
            font-size: $t16;
        }
        .ctc-list-box{
            width: 214px;
        }
        .count-time-cont{
            height: 150px;
            background: $c1;
        }
        .ctc-next-jac{
            font-size: $t18;
            margin-top: 10px;
        }
        .banner-wrap-num{
            height: auto;
            background: none;
            .pick-num-tit{
                color: $tc1;
                font-size: $t14;
                padding: 10px 0;
                background: #f8f8f8;
                text-align: left;
                padding-left: 10px;
            }
        }
        .pnc-l{
            .ctc-tit{
                font-size: $t12;
                margin: 15px 0;
                line-height: 14px;
            }
        }
        .pnc-r{
            min-width: auto;
            margin-left: 0;
            padding-top: 0;
        }
        .quick-pick-name{
            color: #33373a;
            font-size: 14px;
            padding: 10px 0;
            width: 100%;
            text-align: left;
            font-family: $rob-b;
        }
        .quick-pick-way{
            font-size: $t10;
        }
        .quick-pick-item .button-bt3{
            display: none;
        }
        .qpc-num-list .qpc-num-item{
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: $t15;
            border-radius: 15px;
            margin-right: 5px;
        }
        .qpc-num-del{
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 15px;
            background-size: 16px 17px;
        }
        .quick-pick-wrap{
            box-shadow: 0 0 12px rgba(51,55,58,0.14);
            padding: 10px;
            padding-bottom: 15px;

        }
        .quick-pick-box{
            padding-bottom: 20px;
            border-bottom: 1px solid #f0f0f0;
        }
        .qpc-but{
            padding-top: 15px;
            .button-bt3, .button-bt1{
                width: 164px;
                font-size: $t13;
                height: 36px;
                line-height: 36px;
            }

        }
        // .prize-break{
        //     margin: 0 10px;
        // }
        .pb-tb-tr{
            margin: 0 10px;
        }
        .pb-tr-item{
            font-size: $t10;
        }
        .pb-tb-tit{
            height: 30px;
            line-height: 30px;
            margin: 0;
            padding: 0 10px;
        }
        .pb-tr-list{
            height: 100%;
            .pb-tr-item{
                height: 100%;
            }
        }
        .hr-item{
            padding: 10px 0;
            margin: 0 10px;
        }
        .hr-item-l{
            float: none;
            .history-time{
                font-size: $t10;
            }
        }
        .satel-item-ball .satel-ball .satel-baller{
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 15px;
                border-radius: 15px;
                margin-right: 5px;
        }
        .hr-item-r{
            float: none;
            clear: both;
            margin-top: 10px;
            .button-bt3{
                display: none;
            }
        }
        .satel-item-ball .satel-ball{
            padding-top: 5px;
        }
        .hr-list{
            margin:0 10px;
            background:$c1;
        }
        .history-jac{
            width: 50%;
            float: left;
            text-align: left;
            font-size: $t10;
            color: #03c85a;
        }
        .history-winner{
            float: right;
            width: 50%;
            font-size: $t10;
            color: #03c85a;
        }
        .pb-tb, .quick-pick-wrap{
            background: $c1;
        }
        .prize-num-r{
            display: none;
        }
        .satel-num-wrap{
            .satel-lotto-news, .satel-lotto-check{
                display: none;
            }
        }

        .lotto-news-box{
            margin: 0 10px;
            float: none;
            position: relative;
            width: auto;
            height:80px;
            padding: 10px;
            box-shadow: none;
            border-bottom: 1px solid #f8f8f8;
            .lotto-news-pic{
                    float: left;
                    width: 109px;
                    height: 60px;

            }
            .lotto-news-deta {
                float: left;
                position: relative;
                width: 220px;
                height: 60px;
                font-size: 12px;
                line-height: 17px;
                padding: 0;
                padding-left: 10px;
            }
            .lnd-abs{
                display: none;
            }
        }
        .prize-num-l{
        }
        .lotto-news-box{
            background: $c1;
            margin-bottom: 10px;
            box-shadow: 0 0 12px rgba(51,55,58,0.14);
        }
        .satel-news-wrap{
            padding-top: 0;
            .lnd-tit{
                font-size: $t12;
                line-height: 17px;
                height: 35px;
                overflow: hidden;
                margin-bottom: 0;
            }
            .prize-break{
                margin: 0;
                position: relative;
            }
            .satel-check-cont .left-img, .satel-check-cont .right-img{
                display: block;
                width: auto;
                margin: 0 auto;
                margin-bottom: 10px;
                float: none;
                max-width: 100%;
            }
            
            .satel-check-cont{
                max-height: auto;
                max-height: fit-content;
                overflow-y:visible;
                height: auto;
                margin: 0;
            }
            .satel-check-cont p{
                font-size: $t14;
                line-height: 20px;
            }
            .article-recom-lotto{
                background: $c1;
                height: auto;
            }
            .recom-next-jac{
                float: left;
                width: 50%;
                text-align: right;
                font-size: $t16;
                line-height: 18px;
                color: #03c85a;
                font-family: $rob-b;
                padding:20px 0;
                padding-right: 5px;


            }
            .recom-jac-num{
                float: right;
                width: 50%;
                text-align: left;
                 font-size: $t16;
                color: #03c85a;
                 line-height: 18px;
                 font-family: $rob-b;
                 padding:20px 0;
                 padding-left: 5px;
                 margin-top: 0;

            }
            .recom-next{
                overflow: hidden;
                clear: both;
            }
            .article-recom-lotto .button-bt1{
                clear: both;
                width: 172px;
                height: 36px;
                line-height: 36px;
                font-size: $t16;
            }
            .prize-break-article{
                .lnd-signs{
                    left: 10px;
                }
            }
        }
        .lotto-news-sign{
            left: 10px;
            ul li{
                    height: 15px;
                    font-size: 12px;
                    line-height: 15px;
                    padding: 0 10px;
                    margin-top: 10px;
                    margin-right: 10px;
            }
        }
        .article-recom-lotto{
            .recom-next, .count-time-cont{
                float: none;
                width: 100%;
            }
        }
        // .satel-lotto-news{
        //     background: $c1;
        // }
        .draw-time-cont .satel-resulter .result-but{
            top: auto;
            transform:translateY(0);
            clear: both;
            width: 100%;
            overflow: hidden;
            right: 0;
            bottom: -50px;
            .button-bt2{
                float: left;
                width: 45%;
                background: #03c85a;
                color: $c1;
            }
             .button-bt2:last-child{
                margin-top: 0;
                margin-left: 10%;
             }
        }
        .draw-time-cont .satel-resulter{
            
            // min-height: 90px;
            margin-bottom: 50px;
             .satel-item-r{
                float: right;
            }
        }
        // .draw-time-cont{
        //     margin: 0 10px;
        // }
        .pb-tb{
            margin: 0 10px;
        }
        .prize-next-draw{
            .article-recom-lotto{
                margin: 0 10px;
            }
            .satel-check-cont{
                margin: 0 10px;
            }
            .satel-check-cont .left-img, 
            .satel-check-cont .right-img{
                display: none;
            }
            .satel-check-cont{
                height: 170px;
                overflow-y:scroll;
                background: $c1;
            }
        }
        .prize-num-l{
            margin: 0 auto;
            
            .satel-check-cont{
                background: #f7f7f7;
            }
        }
        .prize-next-draw{
            .draw-time-cont{
                margin: 0 10px;
            }
        }
    } 



.satel-mobile-nav, .nav-more-lotto, .nav-more-lan{
    animation:fadeInDown .6s 0s linear 1;
    -webkit-animation:fadeInDown .6s 0s linear 1;
}

.fadeOut{
    animation:fadeOutUp  .8s 0s linear 1;
    -webkit-animation:fadeOutUp  .8s 0s linear 1;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

 @media screen and (max-width:769px) {
    .draw-time-cont .satel-result-item {
        .satel-item-l{
            width: 24%;
        }
        .satel-item-r{
            width: 76%;
            padding-left: 3%;
        }
    }
    .quick-pick-box{
        .quick-mobile-pick{
            .qpc-num-item{
                border: 1px dashed;
            }
            .qpc-num-del{
                opacity: 0.5;
            }
        }
    }
    .qpc-but .button-bt3, .qpc-but .button-bt1{
        width: 95%;
        margin: 0 auto;
        float: none;
    }
    .qpc-but .button-bt3{
        margin-bottom: 13px;
    }

 }

.empty-er{
    width: 800px;
    height: 400px;
    box-shadow: 0 0 12px rgba(51,55,58,0.14);
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:50%;
    margin-left: -400px;
      @media screen and (max-width:769px) {
        width: 80%;
        margin-left: -40%;
        height: 300px;
      } 
}
.empty-er-pic{
  float: left;
  width: 56%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
      img{
        max-width:100%;
        max-height:100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        margin-left: -100px;
      }
}

.empty-er-txt{
  float: right;
  width: 44%;
  font:{
    family:$rob-b;
    size:28px;
  }
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 0;
      @media screen and (max-width:769px){
        font-size: 80px;
      }
          .empty-er-tit{
            color: #ffc000;
            font: {
              family:$rob-b;
              size:100px;
            }
            line-height: 100px;
          }
          .empty-er-detail{
            font-size: $t14;
            color: #33373a;
            line-height: 22px;
            p{
              color: #9195a0;
            }
          }
  .back-home-empty{
    font-size: $t18;
    line-height: 22px;
    font-family:$rob-r;
    margin-top: 30px;
    a{
        color: #ff9f00;
      i{
        display: inline-block;
        width: 20px;
        height: 15px;
        background: url(../images/satellite/back-home.png) no-repeat;
        background-size: cover;  
        margin-left: 5px;
      }
      }
  }
}

@media screen and (max-width:516px){
  .empty-er{
    height: auto;
    box-shadow: none;
  }
.empty-er-pic{
  float: none;
  width: 100%;
  height: 160px;
  position: static;
  img{
    position: static;
    transform:translateY(0);
    margin-left: 0;

  }

}
.empty-er-txt{
  text-align: center;
  float: none;
  width: 100%;
  position: static;
  transform:translateY(0);
    .empty-er-tit{
      font-size: 70px;
    }
}

}
