<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header" style="text-align: center;font-size: 32px;font-weight: bolder;">Success notices !</div>
                <div class="layui-card-body" STYLE="text-align: center;">
                    <p style="font-size: 18px;margin: 20px auto;">SUCCESS</p>
                    <i class="layui-icon layui-icon-ok" style="color: green;font-size: 48px;"></i>
                    <p style="font-size: 18px;color: #999;margin: 20px auto;">msg:<?php echo(strip_tags($msg));?></p>
                    <p class="jump">
                        Automatic page   <a id="href" style="text-decoration: underline;font-size: 18px;color: green;" href="<?php echo($url);?>">jump</a> waiting： <b id="wait"><?php echo($wait);?></b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function(){
        var wait = document.getElementById('wait'),
            href = document.getElementById('href').href;
        var interval = setInterval(function(){
            var time = --wait.innerHTML;
            if(time <= 0) {
                location.href = href;
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>
